/* 

@media screen and (min-width: 1024px) {
    .textAnimation{
        font-size: 2.5rem;
        line-height: 1.25;
    }
    .img_box{
        left: -10px;
    }
}

@media screen and (min-width: 1100px) {
    .textAnimation{
        font-size: 3rem;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1150px) {
    .textAnimation{
        font-size: 3.1rem;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1250px) {
    .textAnimation{
        font-size: 3.6rem;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1300px) {
    .textAnimation{
        font-size: 4.3rem;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1350px) {
    .textAnimation{
        font-size: 4.1rem;
        line-height: 1.25;
    }
}

@media screen and (min-width: 1380px) {
    .textAnimation{
        font-size: 4.2rem;
        line-height: 1.25;
    }
}
 */
