@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0f172a;
}
html {
  scroll-behavior: smooth;
  font-family: 'Habibi', serif;
}

.masonry-column {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Adjust spacing between items */
}

.animline {
  background: #000;
}
.animline:nth-child(2) {
  animation: AnimLine 3s forwards;
}
.animline:nth-child(1) {
  animation: AnimLine 3s forwards;
  display: none;
}

.char {
  display: inline;
}

@keyframes AnimLine {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (min-width: 1024px) {
  .textAnimation {
    font-size: 2.5rem;
    line-height: 1.25;
  }
  .img_box {
    position: absolute;
    left: 0vh;
  }
}

@media screen and (min-width: 1100px) {
  .textAnimation {
    font-size: 3.5rem;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1150px) {
  .textAnimation {
    font-size: 3.1rem;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1250px) {
  .textAnimation {
    font-size: 3.6rem;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1300px) {
  .textAnimation {
    font-size: 4.3rem;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1350px) {
  .textAnimation {
    font-size: 4.1rem;
    line-height: 1.25;
  }
}

@media screen and (min-width: 1380px) {
  .textAnimation {
    font-size: 4.2rem;
    line-height: 1.25;
  }
}
